streamlit

langchain
langchain_community
langchain-core
langgraph

langchain_openai
openai

langchain-groq

pinecone-client

PyPDF2

#
# Disable temporarily for streamlit cloud
#
#graphviz
#pygraphviz

#
# Commands for codespaces
#
#  sudo apt-get update
#  sudo apt-get install graphviz graphviz-dev
#  pip install -r requirements.txt pygraphviz